@model IEnumerable<_4_task.Models.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Туры</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Название тура</p>
        </th>
        <th>
            <p>Описание тура</p>
        </th>
        <th>
            <p>Страна</p>
        </th>
        <th>
            <p>ФИО менеджера</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_tour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description_tour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Managers.FIO_manager)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_tour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_tour })
        </td>
    </tr>
}

</table>
