@model Kyrsovik.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_off)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_off)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catygories.Name_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catygories.Name_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owners.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owners.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statuses.Name_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statuses.Name_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_product }) |
    @Html.ActionLink("Back to List", "Index")
</p>
