@model IEnumerable<Kyrsovik.Models.Statuses>

@{
    ViewBag.Title = "Index";
}

<h2>Список статусов</h2>

<h3>
    Добавить<i><u> @Html.ActionLink(" новый статус ", "Create")</u></i>
</h3>
<table class="table">
    <tr>
        <th>
            <p>Статус</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.Name_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_status }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_status }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_status })
        </td>
    </tr>
}

</table>
